#about
  
  %h2
    about me

  %a{:href=>"http://www.flickr.com/photos/seadated/4239948702/", :title=>"Day 2 by whatman75, on Flickr", :class=>'profile_image'}
    %img{:src=>"http://farm3.static.flickr.com/2752/4239948702_fca097c378.jpg", :width=>"500", :height=>"399", :alt=>"Day 2"}  

  %p
    I'm Claude Nix and I live in San Francisco, CA.  I've been taking pictures for a couple of years, and decided I wanted to get a little more
    serious.  This 365 project is my effort to do that.  I'm attempting to take and post one picture to Flickr every single day, for the
    entire year of 2010.  I did something similar in August 2009, where I posted a picture every day for the month.  I expect this to be way 
    more difficult.
    
  %p
    By day, I'm a software engineer at a start up that's currently in stealth mode.  I'm married to an amazing and beautiful woman named Megan, 
    and we're expecting our first child in late February or early March.  I plan to burn up an awful lot of these days on our little girl. :)
  
  %p
    Right now in my kit, I have:
    %ul
      %li Nikon D90 with MB-D210 battery grip
      %li Tamron 17-50mm f/2.8 XR IF
      %li Nikon 35mm f/1.8G AF-S
      %li Nikon 50mm f/1.8D AF
      %li Nikon 55-200mm f/3.5-5.6 AF-S
      %li 2 Nikon SB-25 speedlights
      %li 1 Nikon SB-28 speedlight
      %li Cactus V4 Triggers
      %li 2 Westcott 43" collapsible umbrellas (1 white, 1 silver)
      %li 2 Manfrotto 5001B Nano Stands